<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
       <h1 class=" text-center text-warning "> YOU SHOULD TO LOGIN or REGISTER! </h1>

    <div>
     <li class="px-2 ml-1 mt-2"><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt text-warning"></i> Login </a></li>
     <li class="px-2 ml-2 mt-2"><a href="{% url 'register' %}"><i class="fas fa-user-astronaut text-dark"></i> Register </a></li>
        <li class="px-2 ml-2 mt-2"><a class="navbar-brand  m-auto  text-dark  font-weight-bold" href="{% url  "questions" %}"> Back</a></li>
    </div>
</body>
</html>