<!DOCTYPE html>
{%  extends "questions/base.html" %}
<body>
                 {% block main-content %}
                <div class="row justify-content-begin">
                    <div class="col-xl-9  pr-4 " >

                <h1 class="mt-4 mb-4 ml-3 text-center alert alert-warning"> Create New Question</h1>

                		<div class="form-new-question">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% for f in form.visible_fields %}
				<div class="login-form-group ml-3  alert alert-warning">
					<label for="{{ f.name }}">{{ f.label }}</label>
					{{ f }}
				</div>
				{% endfor %}
				<button type="submit" class="btn  btn-warning my-3 mx-3 login-btn">Ask</button>
			</form>
		</div>

                    </div>
                </div>
                {% endblock %}

</body>