
<!DOCTYPE html>
{% extends "questions/base.html" %}
{% load static %}

<body>

                {% block main-content %}
                    <div class="row justify-content-begin">
                    <div class="col-xl-9 ml-5 pr-4 " >
                <h1 class="ml-4 mr-0 mt-4 mb-4 text-center alert alert-warning ">{{title}} </h1>

                {% for question in questions %}
                <div class="row  mb-4 mr-0  p-2 border border-warning rounded ml-4">
                    <div class="col-sm-2  my-auto ">
                        <div class="avatar-thumbnail mb-2">
                            <img src="{% static question.author.photo %}" width="80" height="100">
                        </div>
                        <div class="mt-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-light"><img src="/static/images/like.jpg" class="rounded" width="15" height="15"></button>
                                <button type="button" class="btn btn-light"><img src="/static/images/dislike.jpg" class="rounded" width="15" height="15"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10  mt-4">
                        <h3 class="mb-2 mt-3 "><a href={% url 'question' question.id %}>{{ question.title }}</a></h3>
                        <p>{{ question.text }}

                        </p>

                        <div class="mb-5">
                            <div class="float-right">
                                <span>Tags:</span>
                                {%  for tag in question.tags.all %}
                                <a href={% url "tag" tag.text %}> {{ tag.text }}</a>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                        {% endfor %}

                        {% include 'questions/paginator.html' %}
                        </div>
                    </div>
                {%  endblock %}
</body>
