<!DOCTYPE html>
{% extends "questions/base.html" %}
{% load static %}

<body>
              {% block main-content %}
                <div class="row justify-content-begin">
                    <div class="col-xl-10  pr-4 " >
                <div class="row  mb-4 mt-3 p-2  border-bottom border-warning mr-1 ml-4">
                    <div class="col-sm-2  my-auto ">
                        <div class="avatar-thumbnail mb-2">
                            <img src="{% static question.author.photo %}" width="80" height="100">
                        </div>
                        <div class="mt-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-light"><img src="/static/images/like.jpg" class="rounded" width="15" height="15"></button>
                                <button type="button" class="btn btn-light"><img src="/static/images/dislike.jpg" class="rounded" width="15" height="15"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10  mt-4">
                        <h3 class="mb-2 mt-3"><a href={% url 'question' question.id %}>{{ question.title }}</a></h3>
                        <p>{{ question.text }}

                        </p>

                        <div class="mb-5">

                            <div class="float-right">
                                <span>Tags:</span>
                                {%  for tag in question.tags.all %}
                                <a href={% url 'tag' tag.text %}> {{ tag.text }}</a>

                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                        {% for answer in answers %}
                    <div class="row  mb-4  p-2  mr-0 ml-4 border border-warning rounded">
                        <div class="col-sm-2 my-auto">

                            <div class="avatar-thumbnail mb-2">
                                <img src="/{{ answer.user.profile.avatar.url }}" class="rounded" width="80" height="100">
                            </div>
                            <div class="mt-3">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-light"><img src="/static/images/like.jpg" class="rounded" width="15" height="15"></button>
                                    <button type="button" class="btn btn-light"><img src="/static/images/dislike.jpg" class="rounded" width="15" height="15"></button>
                                </div>

                                <div class="float-left mt-3">
                                    <form>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input " id="correctCheck" name="example1">
                                            <label class="custom-control-label text-info" for="correctCheck">Correct</label>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-10 mt-4">
                            <h6 class="mb-2 mt-3 ">{{answer.text}}</a></h6>
                            <p id=""></p>

                        </div>
                    </div>
                        {% endfor %}
                        <div class="question-page-input-form mt-5">
                            {% if form %}
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="login-form-group mb-4  p-2  ml-4  border border-warning rounded ">
                                     {{ form.text }}
                                </div>
                                {% endif %}
                                <button type="submit" class="btn btn-warning my-3 ml-4  login-btn">Answer</button>
                            </form>
                        </div>
                    </div>
                </div>
              {%  endblock %}
</body>

