<!DOCTYPE html>
{%  extends 'questions/base.html' %}
{% load static %}

 {% block main-content %}
                <div class="row justify-content-begin">
                    <div class="col-xl-9 pr-4 " >
                <h1 class=" mb-4 mx-3 text-warning mt-5">Settings</h1>

                <form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
                    <table>
{% for f in form.visible_fields %}
			<div class="login-form-group text-warning  mt-3 ">
				{{ f.label }}
				<div>
				<label for="{{ f.name }}"></label>

				{{ f }}
			</div>
			</div>
			{% endfor %}
                        </table>
 <button type="submit" class="btn btn-warning my-2 mt-3 mx-3">Save</button>
</form>

            </div>
                </div>
    {% endblock %}



