<!DOCTYPE html>
{%  extends 'questions/base.html' %}
{% load static %}

<body>


                 {% block main-content %}
              <div class="content ">
	<div class="login text-warning  mt-5">
		<div class="login-title mt-5  ">
            <p><h1>LOGIN</h1></p>
		</div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% for f in form.visible_fields %}
			<div class="login-form-group  mt-5 ">
				{{ f.label }}
				<div
				<label for="{{ f.name }}"></label>

				{{ f }}
			</div>
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-outline-dark mt-5 border border-warning center-block text-warning  login-btn">Submit</button>
			{% for error in form.non_field_errors %}
		      <div class="askme__login-error col-lg-5 col-lg-offset-3 text-danger" role="alert">
		        <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
		        {{ error }}
		      </div>
		    {% endfor %}
		</form>
	</div>
</div>
                {% endblock %}

</body>

